body,p,h1,h2,h3,h4,h5,h6,dl,dd,dt,ul,ol {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 12px;
	font-family: "微软雅黑";
}

img {
	border: none;
}

a {
	text-decoration: none;
}

ul,ol {
	list-style: none;
}

.clearfloat:after {
	content: "";
	clear: both;
	overflow: hidden;
	visibility: hidden;
	height: 0px;
	display: block;
}

.clearfloat {
	zoom: 1;
}